<% layout('layouts/boilerplate')%>
    <div class="flex flex-x">
        <form method="POST" action="/addItem" enctype="multipart/form-data">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Floating Label</h6>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="item_name" id="item_name" placeholder="Name">
                    <label for="Name">Product Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="hidden" value="<%= user.name %>" class="form-control" name="person_name" id="Owner">
                </div>

                <div class="form-floating mb-3">
                    <input type="hidden" class="form-control" name="owner_email" id="email" value="<%= user.email %>">

                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="phone" name="person_contact" placeholder="Phone">
                    <label for="phone">Phone number</label>
                </div>
                <div class="mb-3">
                    <!-- <input class="form-control" type="file" id="image" name="image" value="" accept="image/*,application/pdf"> -->
                    <input type="file" name="image" id="image" class="form-control" accept="image/*,application/pdf" required>
                    <label for="image" class="form-label">Upload Product Image</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="Desc" name="item_description" style="height: 150px;"></textarea>
                    <label for="Desc">Brief Product Description</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="number" name="item_price" id="price">
                    <label for="price">Expeted Selling Price</label>
                </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>